description = "Register from"

[viewBag]
==
<section style="min-height: 70vh;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="mb-5">
                        <img class="img-fluid" src="{{ 'assets/img/svg/success-icon.svg'|theme }}">
                    </div>
                    <h2 class="mb-3">{{'registerPage.success.title'|_}}</h2>
                    <p class="small text-mutted text-center">{{'registerPage.success.text'|_}}</p>
                </div>
            </div>
            <div class="col-12 mt-5 mb-5 mb-lg-0">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary text-white px-5" href="/">{{'registerPage.success.btn.text'|_}}</a>
                </div>
            </div>
        </div>
    </div>
</section>