description = "Register from"

[viewBag]
==
<section style="min-height: 70vh;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="mb-5">
                        <img class="img-fluid" src="{{ 'assets/img/svg/success-icon.svg'|theme }}">
                    </div>
                    <h2 class="mb-3">Formularul a fost trimis cu succes!</h2>
                    <p class="small text-mutted text-center">In cel mai scurt timp vei primi un e-mail cu mai multe informatii pe adresa de email exemplu@mail.com. Non lacus feugiat dignissim fringilla in. Suspendisse urna viverra nec ipsum. Mi, nullam id habitasse turpis est. Venenatis, nullam risus tristique libero. Pellentesque aliquet cursus elementum maecenas lectus odio fermentum risus.
                    </p>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary text-white px-5" href=""><< Înapoi în site</a>
                </div>
            </div>
        </div>
    </div>
</section>