description = "Register from"

[viewBag]
==
<section class="my-5">
    <div class="container">
        <form method="POST">
            <div class="row">
                <div class="col-12">
                    <div class="shadow-lg rounded bg-white p-5">
                            <div class="shadow rounded p-3 py-4">
                                <p class="text-dark p-0 m-0 mb-3">{{'registerPage.form.title_1'|_}}</p>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow rounded p-3 py-4 mt-5">
                                <p class="text-dark pl-3">{{'registerPage.form.title_2'|_}}</p>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-5">
                    <div class="d-flex justify-content-end">
                        <a role="button" type="submit" class="btn btn-primary text-white px-5">{{'registerPage.form.submit.btn.text'|_}}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
