description = "Register from"

[viewBag]
==
<section class="my-5">
    <div class="container">
        <!-- Register form -->
        <form method="POST" data-request="onRegister" data-request-success="$('#teacherForm').addClass('d-none'); $('#successMessage').removeClass('d-none');">
            <div class="row">
                <div class="col-12">
                    <div class="shadow-lg rounded bg-white p-0 p-md-5">
                        <div class="shadow rounded p-3 py-4">
                            <p class="display-2 text-medium-dark form-styles p-0 m-0 mb-3">{{'registerPage.form.title_1'|_}}</p>

                            <div class="row">
                                <!-- Last name input -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="surname" class="form-control" id="surname" aria-describedby="surnameHelp" placeholder="{{'registerPage.form.input.last.name.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- First name input -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="{{'registerPage.form.input.first.name.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- Phone number input -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="number" name="phone" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="{{'registerPage.form.input.phone.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- Email input -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="{{'registerPage.form.input.email.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="{{'registerPage.form.input.password.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- Password confirmation -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group">
                                        <input type="password" name="password_confirmation" class="form-control" id="password_confirmation" aria-describedby="passwordConfirmationHelp" placeholder="{{'registerPage.form.input.password.confirmation.placeholder'|_}}" style="font-style: italic;">
                                    </div>
                                </div>

                                <!-- County select -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group register-select">
                                        <select name="county" id="specialistCounty" class="form-control border outline-none selectpicker" data-live-search="true" data-none-results-text="Niciun rezultat" data-style="btn-white">
                                            {% for key, county in counties %}
                                                <option value="{{ key }}">{{ county }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <!-- City select -->
                                <div class="col-12 col-lg-6">
                                    <div class="form-group register-select">
                                        <select name="city" id="specialistCity" class="form-control border outline-none selectpicker" data-none-results-text="Niciun rezultat" data-live-search="true" data-style="btn-white" disabled></select>
                                    </div>
                                </div>

                                <!-- School name select -->
                                <div class="col-12">
                                    <div class="form-group register-select">
                                        <select name="school" class="form-control border outline-none selectpicker" data-style="btn-white">
                                            <option value="-1">{{'registerPage.form.input.school.name.placeholder'|_}}</option>
                                            {% for key, school in schools %}
                                                <option value="{{ key }}">{{ school }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <input name="type" type="text" id="type" class="d-none" value="specialist">
                            </div>
                        </div>

                        <!-- Description input -->
                        <div class="shadow rounded p-3 py-4 mt-5">
                            <p class="display-2 text-medium-dark form-styles pl-3">{{'registerPage.form.title_2'|_}}</p>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="description" id="description" rows="5"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Submit button -->
                <div class="col-12 mt-5 mb-5 mb-lg-0">
                    <div class="d-flex justify-content-end">
                        <button role="button" type="submit" class="btn btn-sm btn-primary px-5">{{'registerPage.form.submit.btn.text'|_}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% put scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            /**
             * Extracts the initial cities.
             */
            $.request('onGetCities', {
                data: {
                    countyId: 1
                },
                success: function(data) {
                    /* Reset the city select content. */
                    $('#specialistCity').html('');

                    /* Parse all received citied and add them. */
                    for (const city in data) {
                        $('#specialistCity').append(`<option value="${data[city]}">${city}</option>`);
                    }

                    /* Activate the select. */
                    $('#specialistCity').prop("disabled", false);
                    $("#specialistCity").selectpicker("refresh");
                }
            });

            /**
             * Function that extracts the cities of a county.
             */
            $('#specialistCounty').on('change', function() {
                $.request('onGetCities', {
                    data: {
                        countyId: this.value
                    },
                    success: function(data) {
                        /* Reset the city select content. */
                        $('#specialistCity').html('');

                        /* Parse all received citied and add them. */
                        for (const city in data) {
                            $('#specialistCity').append(`<option value="${data[city]}">${city}</option>`);
                        }

                        /* Activate the select. */
                        $('#specialistCity').prop("disabled", false);
                        $("#specialistCity").selectpicker("refresh");
                    }
                })
            });
        });
    </script>
{% endput %}
