description = "Register from"

[viewBag]
==
<section style="min-height: 70vh;">
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column">
                    <div class="mb-5">
                        <img class="img-fluid" src="{{ 'assets/img/svg/success-icon.svg'|theme }}">
                    </div>
                    <h2 class="mb-3" style="color: #000; line-height: 22px; letter-spacing: -0,3px;">{{'registerPage.success.title'|_}}</h2>
                    <p class="small text-muted text-center px-lg-5 mx-lg-5" style="line-height: 22px; letter-spacing: -0,3px;">{{'registerPage.success.text'|_}}</p>
                </div>
            </div>
            <div class="col-12 mt-5 mb-5 mb-lg-0 d-none">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-sm btn-primary px-5" href="/">{{'registerPage.success.btn.text'|_}}</a>
                </div>
            </div>
        </div>
    </div>
</section>