// Tagify override variables
// $self: &;
$tags-border-color : #683099;
$tags-hover-border-color : #683099;
// $tags-focus-border-color : #3595f6 !default;
// $tagMargin : 5px !default;
// $tag-pad : .3em .5em !default;
$tag-text-color : rgba(53, 53, 53, 0.73);
// $tag-text-color--edit : black !default;
$tag-bg : transparent;
$tag-hover: transparent;
$tag-remove : rgba(53, 53, 53, 0.73);
$tag-remove-btn-bg: transparent;
$tag-remove-btn-bg--hover: rgba(53, 53, 53, 0.73);
// $tag-invalid-color : transparent;
// $tag-invalid-bg : transparent;
$tag-inset-shadow-size : none;
$placeholder-color : rgba(53, 53, 53, 0.73);
// $placeholder-color-focus : rgba($tag-text-color, .25) !default;
// $input-color : inherit !default;
// $tagify-dd-bg-color : white !default;
// $tagify-dd-color-primary : rgb(53, 149, 246) !default;
@import '../../../../node_modules/@yaireo/tagify/src/tagify';

/* Tagify tags outside for search location
======================================================================
*/
.tagify__tag {
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 4px 8px;
    background-color: #fff;
}

.tagify {
    width: 100% !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fab954;
    height: 40px;
    background-color: #F3F3F3;
    border-radius: 2px;
    font-size: 14px !important;
}

.tagify:focus,
.tagify:active,
.tagify:hover,
.tagify:checked,
.tagify:active {
    border-bottom: 2px solid #fab954;
    outline: 0 !important;
}

.tagify__dropdown {
    border: none;
    font-size: 14px !important;
    outline: none !important;
    box-shadow: none;
    background-color: #fff;
    left: 0;
}

.tagify__input::after {
    width: 100% !important;
}

.tagify__dropdown__item--active {
    background: #fab954;
    color: #333;
}

.tagify.tagify--focus {
    border-color: #fab954 !important;
}
