description = "Transfer student success message"

[viewBag]
==
<div class="row">
    <div class="col-12 mb-5">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="mb-5">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/transfer-success.svg'|theme }}">
            </div>
            <p class="small text-gray-medium text-center p-0 m-0 pb-1 px-lg-5 mx-lg-5" style="line-height: 22px; letter-spacing: -0,3px;">{{'teacher.dashboard.transfer.success.text_1'|_}} <span class="font-weight-bold">Profesor Name</span>.</p>
            <p class="small text-gray-medium text-center p-0 m-0 px-lg-5 mx-lg-5" style="line-height: 22px; letter-spacing: -0,3px;">{{'teacher.dashboard.transfer.success.text_2'|_}}</p>
        </div>
    </div>
</div>

 
