title = "Dashboard"
url = "/specialist/dashboard"
layout = "web-app"
description = "Dashboard"
is_hidden = 0

[session]
security = "user"
allowedUserGroups[] = "registered"
allowedUserTypes[] = "specialist"

[student]

[lessonsActions]

[chartsActions]
==
<div class="container-fluid px-lg-4">
    <div class="row">

        <!-- Dashboard title -->
        <div class="col-12">
            <h4 class="text-gray-dark font-weight-light mb-4">{{'page.specialist.dashboard.title'|_}}</h4>
        </div>

        <!-- Students card -->
        <div class="col-12 col-md-6">
            <div class="bg-white rounded shadow py-3 px-4 d-flex justify-content-between">
                <div>
                    <h6 class="text-gray-light">{{'page.specialist.dashboard.students.card.title'|_}}</h6>
                    <h5 class="text-gray-dark">{{ user.profile.unarchivedStudents.count }}</h5>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/arrow-right.svg'|theme }}">
                        <a class="ml-2 display-4 text-gray-light" href="{{ 'specialist/students'|page }}">{{'page.specialist.dashboard.students.card.link'|_}}</a>
                    </div>
                </div>
                <div>
                    <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/user-bordered.svg'|theme }}">
                </div>
            </div>
        </div>

        <!-- Exercises card -->
        <div class="col-12 col-md-6 mt-5 mt-md-0">
            <div class="bg-white rounded shadow py-3 px-4 d-flex justify-content-between">
                <div>
                    <h6 class="text-gray-light">{{'page.specialist.dashboard.exercises.title'|_}}</h6>
                    <h5 class="text-gray-dark">{{ user.profile.getExercisesNumber }}</h5>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/arrow-right.svg'|theme }}">
                        <a class="ml-2 display-4 text-gray-light" href="{{ 'specialist/exercises'|page }}">{{'page.specialist.dashboard.exercises.link'|_}}</a>
                    </div>
                </div>
                <div>
                    <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/gamepad-bordered.svg'|theme }}">
                </div>
            </div>
        </div>

        <!-- Students activity chart -->
        <div id="activity-chart-container" class="col-12 mt-5">
            <!-- Partial for student activity chart -->
            {% partial 'web-app/specialist/activity-chart' year = 'now'|date('Y') years = user.profile.lessons_years durations = user.profile.getYearLessonsDurations('now'|date('Y')) %}
        </div>

        <!-- Students table -->
        <div class="col-12 col-lg-6 mt-5">
            <div class="table-responsive rounded" style="overflow-x: hidden; box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);">
                <table id="students-datatable" class="table table-striped table-sm pt-3 px-3 m-0" cellspacing="0" style="background: linear-gradient(0deg, #FFFFFF, #FFFFFF);">
                    <thead>
                        <tr>
                            <!-- Name column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{'page.specialist.dashboard.students.table.column_1.title'|_}}</p></th>
                            <!-- Age column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{'page.specialist.dashboard.students.table.column_2.title'|_}}</p></th>
                            <th class="no-sort"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in user.profile.unarchivedStudents %}
                            <tr>
                                <!-- Student name row -->
                                <td>
                                    <div class="d-flex align-items-center justify-content-between">

                                        <!-- Student avatar and name -->
                                        <div class="pl-2 py-3 d-flex align-items-center">
                                            <div>
                                                {% if student.avatar %}
                                                    <img class="img-fluid img-avatar rounded-circle" src="{{student.avatar.getThumb(40,40, { mode : 'crop' } )}}" alt="avatar">
                                                {% elseif student.gender == 'female' %}
                                                    <img class="img-fluid img-avatar rounded-circle" width="40" height="40" src="{{ 'assets/img/svg/dashboard/girl-avatar-1.svg'|theme }}" alt="avatar">
                                                {% else %}
                                                    <img class="img-fluid img-avatar rounded-circle" width="40" height="40" src="{{ 'assets/img/svg/dashboard/baiat-avatar-2.svg'|theme }}" alt="avatar">
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column ml-2">
                                                <a class="display-4 font-weight-light" href="{{ 'specialist/student'|page({id: student.id }) }}" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ student.full_name }}</a>
                                            </div>
                                        </div>

                                        <!-- Meniu optiuni mobile version -->
                                        <div class="pl-2 py-3 d-block d-md-none">
                                            <div class="d-flex align-items-center pt-2">
                                                <div class="dropdown">
                                                    <button class="btn shadow-none" type="button" id="studentsTableOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img class="img-fluid ml-1" src="{{ 'assets/img/svg/dashboard/options.svg'|theme }}">
                                                    </button>

                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="studentsTableOptions">
                                                        <a class="dropdown-item display-4" href="{{ 'specialist/student-edit'|page({id: student.id }) }}" style="color: #1A212C;">
                                                            {{'page.specialist.dashboard.students.table.dropdown.options.link_1'|_}}
                                                        </a>

                                                        <a class="dropdown-item display-4" style="color: #1A212C;" role="button" data-toggle="modal" data-target="#archiveStudentModal" data-name='{{ student.full_name }}' data-id='{{ student.id }}' data-avatar='{% if student.avatar %}{{student.avatar.getThumb(40,40, { mode : 'crop' } )}}{% elseif student.gender == 'female' %}{{ 'assets/img/svg/dashboard/girl-avatar-1.svg'|theme }}{% else %}{{ 'assets/img/svg/dashboard/baiat-avatar-2.svg'|theme }}{% endif %}'>
                                                            {{ 'page.specialist.dashboard.student.options.archive'|_ }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </td>

                                <!-- Student age row -->
                                <td>
                                    <div class="pl-2 py-3 d-flex align-items-center">
                                        <p class="p-0 m-0 pt-2 font-weight-light display-4 text-gray-light" style="letter-spacing: 0.2px; line-height:20px;">{{ student.age }}&nbsp;{{'page.specialist.dashboard.students.table.age.text'|_}}</p>
                                    </div>
                                </td>

                                <!-- Meniu optiuni desktop version -->
                                <td>
                                    <div class="pl-2 py-3 d-none d-md-block">
                                        <div class="d-flex align-items-center pt-2">
                                            <div class="dropdown">
                                                <button class="btn shadow-none" type="button" id="studentsTableOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img class="img-fluid ml-1" src="{{ 'assets/img/svg/dashboard/options.svg'|theme }}">
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="studentsTableOptions">
                                                    <a class="dropdown-item display-4" href="{{ 'specialist/student-edit'|page({id: student.id }) }}" style="color: #1A212C;">
                                                        {{'page.specialist.dashboard.students.table.dropdown.options.link_1'|_}}
                                                    </a>

                                                    <a class="dropdown-item display-4" style="color: #1A212C;" role="button" data-toggle="modal" data-target="#archiveStudentModal" data-name='{{ student.full_name }}' data-id='{{ student.id }}' data-avatar='{% if student.avatar %}{{student.avatar.getThumb(40,40, { mode : 'crop' } )}}{% elseif student.gender == 'female' %}{{ 'assets/img/svg/dashboard/girl-avatar-1.svg'|theme }}{% else %}{{ 'assets/img/svg/dashboard/baiat-avatar-2.svg'|theme }}{% endif %}'>
                                                        {{ 'page.specialist.dashboard.student.options.archive'|_ }}
                                                    </a>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Student game activity -->
        <div class="col-12 col-lg-6 mt-5 mb-5">
            <div class="card bg-white border-0 rounded px-3" style="box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);">
                <div class="border-bottom py-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="p-0 m-0 display-2 font-weight-light text-gray-2">{{'page.specialist.dashboard.game.activity.title'|_}}</p>
                        <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/calendar-icon.svg'|theme }}">
                    </div>
                </div>
                <div class="py-3">
                    <div class="students-activity-owl-carousel owl-carousel owl-theme owl-responsive-0">
                        {% for student in user.profile.unarchivedStudents %}
                            <div class="item">
                                <div class="row">
                                    <!-- Student name and avatar -->
                                    <div class="col-11 col-md-12">
                                        <div class="d-flex align-items-center justify-content-center">
                                            <div style="width: 40px; height:40px">
                                                {% if student.avatar %}
                                                    <img class="img-fluid img-avatar rounded-circle" src="{{student.avatar.getThumb(40,40, { mode : 'crop' } )}}" alt="avatar">
                                                {% elseif student.gender == 'female' %}
                                                    <img class="img-fluid img-avatar rounded-circle" width="40" height="40" src="{{ 'assets/img/svg/dashboard/girl-avatar-1.svg'|theme }}" alt="avatar">
                                                {% else %}
                                                    <img class="img-fluid img-avatar rounded-circle" width="40" height="40" src="{{ 'assets/img/svg/dashboard/baiat-avatar-2.svg'|theme }}" alt="avatar">
                                                {% endif %}
                                            </div>
                                            <div class="d-flex flex-column ml-2">
                                                <h6 class="p-0 m-0 font-weight-bold" style="color: #525F7F;">{{ student.full_name }}</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Student donut chart -->
                                    <div class="col-12 d-flex align-items-center justify-content-center py-3">
                                        <canvas id="donut-{{student.id}}" width="400px" height="400px"></canvas>
                                    </div>

                                    <!-- Student lesson description -->
                                    <div class="col-12 border-top py-3"></div>
                                    <div class="col-1">
                                        <div class="d-flex justify-content-center" style="width: 30px; height: 30px;">
                                            <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/edit.svg'|theme }}">
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="pl-1 pl-lg-0">
                                            <p class="p-0 m-0 small text-rgba-black font-weight-normal">{{'page.specialist.dashboard.donut.chart.despre'|_}}&nbsp;<span class="font-weight-bold">{{ student.full_name }}</span></p>
                                            <p class="p-0 m-0 py-1 display-4 text-rgba-black">{{student.description|raw}}</p>
                                            <a class="display-4 text-blue" href="{{ 'specialist/student-edit'|page({id: student.id }) }}">{{'page.specialist.dashboard.donut.chart.link'|_}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partial for archiving a student -->
{% partial 'web-app/general/student-archive' %}

{% put scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            /***********************************************
            *********** Students datatable *****************
            ***********************************************/

            $('#students-datatable').DataTable({
                dom: '<"row"<"col-12"><"col-12 added-content">><"row"<"col-12"t>><"row bg-white p-3 rounded-bottom"<"col-6 d-flex align-items-center"l><"col-6 d-flex align-items-center justify-content-end"ip>>',
                lengthMenu: [
                    [5, 10, 25, 50, 100, -1],
                    [5, 10, 25, 50, 100]
                ],
                bSort: true,
                responsive: true,
                processing: true,
                pagingType: 'simple',
                language: {
                    "info": "_PAGE_ - _PAGE_ of _PAGES_",
                    'zeroRecords': "{{'general.datatable.zeroRecords'|_}}",
                    'emptyPanes': "{{'general.datatable.emptyPanes'|_}}",
                    'emptyTable': "{{'general.datatable.emptyTable'|_}}",
                    'search': '',
                    'searchPlaceholder': "{{'page.specialist.dashboard.students.table.search.placeholder'|_}}",
                    'lengthMenu': "{{'general.datatable.lengthMenu'|_}}: _MENU_",
                    'paginate': {
                        'first': '«',
                        'previous': '‹',
                        'next': '›',
                        'last': '»',
                    },
                    'aria': {
                        'paginate': {
                            'first': "{{'general.datatable.first'|_}}",
                            'previous': "{{'general.datatable.previous'|_}}",
                            'next': "{{'general.datatable.next'|_}}",
                            'last': "{{'general.datatable.last'|_}}"
                        }
                    }
                }
            });
            $('.added-content').html('\
                <div class="row pb-3 px-3 pt-4 rounded-top" style="background: linear-gradient(0deg, #FFFFFF, #FFFFFF);">\
                    <div class="col-12 col-lg-7">\
                        <p class="display-2 font-weight-light text-gray-2">{{"page.specialist.students.table.title"|_}}</p>\
                    </div>\
                    <div class="col-12 col-lg-5">\
                        <div class="d-flex align-items-center justify-content-start justify-content-lg-end">\
                            <img class="img-fluid" src="{{ "assets/img/svg/dashboard/arrow-right.svg"|theme }}">\
                            <a class="ml-2 display-4 text-gray-light" href="{{ "specialist/students"|page }}">{{"page.specialist.dashboard.students.table.all.students.link.text"|_}}</a>\
                        </div>\
                    </div>\
                </div>'
            );

            /***********************************************
            ***************** Donut chart ******************
            ***********************************************/
            {% for student in user.profile.unarchivedStudents %}
                var donutChart = new Chart($("#donut-{{student.id}}"), {
                    type: 'doughnut',
                    data: {
                        labels: [
                            "{{'page.spacialist.dashboard.donut.chart.legend_1'|_}}",
                            "{{'page.spacialist.dashboard.donut.chart.legend_2'|_}}",
                            "{{'page.spacialist.dashboard.donut.chart.legend_3'|_}}"
                        ],
                        datasets: [{
                            label: 'legend',
                                data: [
                                    {% for category in user.profile.exercises_categories %}
                                        {{ user.profile.getStudentCategoryLessonsDuration(student.id, category.slug) }},
                                    {% endfor %}
                                ],

                            backgroundColor: [
                                {% for category in user.profile.exercises_categories %}
                                    {% if loop.first %}
                                        '#F6744F',
                                    {% else %}
                                        '{{user.profile.getCategoryColor(category.slug)}}',
                                    {% endif %}
                                {% endfor %}
                            ],

                            borderWidth: 0
                        }]
                    },

                    options: {
                        cutoutPercentage: 75,
                        responsive: false,
                        elements: {
                            center: {
                            text: "{{ user.profile.getStudentLessonsCount(student.id) }} {{'page.specialist.dashboard.donut.chart.games.number'|_}}",
                            color: 'rgba(0, 0, 0, 0.6)',
                            fontStyle: 'Open Sans',
                            sidePadding: 20,
                            minFontSize: 20,
                            lineHeight: 25
                            }
                        },
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: 'rgba(0, 0, 0, 0.6)',
                                usePointStyle: true,
                                padding: 25
                            }
                        }
                    }
                });
            {% endfor %}
        });
    </script>
{% endput %}
