title = "Notificări"
url = "/specialist/notifications"
layout = "web-app"
description = "Displays notifications"
is_hidden = 0

[session]
security = "user"
allowedUserGroups[] = "registered"
allowedUserTypes[] = "specialist"

[studentActions]
==
<div class="container-fluid px-lg-4">
    <div class="row">
        <!-- Back link -->
        <div class="col-12 my-3">
            <div class="d-flex align-itmes-center">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/arrow-black.svg'|theme }}">
                <a class="ml-3 text-black" href="{{ 'specialist/dashboard'|page }}">{{'page.specialist.dashboard.profile.back.link.text'|_}}</a>
            </div>
        </div>

        <!-- Notifications table -->
        <div class="col-12 mb-5">
            <div class="table-responsive p-3" style="overflow-x: hidden; background: linear-gradient(0deg, #FFFFFF, #FFFFFF);">
                <p class="font-weight-bold text-dark">{{ 'page.specialist.dashboard.notifications.table.title'|_ }}</p>
                <table id="notifications-datatable" class="table table-striped table-sm pt-3 px-3 m-0 p-3" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- Transfer type column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{ 'page.specialist.dashboard.notifications.table.header.column.type'|_}}</p></th>
                            <!-- Profesor name column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{ 'page.specialist.dashboard.notifications.table.header.column.specialist'|_}}</p></th>
                            <!-- Student name column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{ 'page.specialist.dashboard.notifications.table.header.column.student'|_}}</p></th>
                            <!-- Recived date column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{ 'page.specialist.dashboard.notifications.table.header.column.date'|_}}</p></th>
                            <!-- Actions column -->
                            <th><p class="p-0 m-0 py-2 pl-2 display-4" style="line-height: 18px; letter-spacing:0.2px">{{ 'page.specialist.dashboard.notifications.table.header.column.action'|_}}</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in user.profile.access_requests %}
                            <tr>
                                <!-- Transfer type row -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center pt-2">
                                            <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/transfer-recived.svg'|theme }}">
                                            <p class="p-0 m-0 font-weight-light display-4 ml-2" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ 'page.specialist.dashboard.notifications.table.row.access_request'|_ }}</p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Specialist name row -->
                                <td>
                                    <div class="pl-2 py-3 d-flex align-items-center">
                                        <div>
                                            <img width="40" height="40" class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                        </div>
                                        <div class="d-flex flex-column ml-2">
                                            <p class="p-0 m-0 display-4 font-weight-light" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.toSpecialist.full_name }}</p>
                                            <h6 class="p-0 m-0 font-weight-normal text-gray">{{ 'page.specialist.dashboard.notifications.table.row.specialist'|_ }}</h6>
                                        </div>
                                    </div>
                                </td>

                                <!-- Student name row -->
                                <td>
                                    <div class="pl-2 py-3 d-flex align-items-center">
                                        <div>
                                            <img width="40" height="40" class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                        </div>
                                        <div class="d-flex flex-column ml-2">
                                            <p class="p-0 m-0 display-4 font-weight-light" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.student.full_name }}</p>
                                            <h6 class="p-0 m-0 font-weight-normal text-gray">{{ notification.student.birthdate|date("d-m-Y") }}</h6>
                                        </div>
                                    </div>
                                </td>

                                <!-- Received date row -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center pt-2">
                                            <p class="p-0 m-0 font-weight-light display-4" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.created_at|date("d-m-Y") }}</p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Actions column -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center">
                                            <a role="button" class="decline-access-request" data-student="{{ notification.student_id }}" data-specialist="{{ notification.to_specialist_id }}">
                                                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/delete.svg'|theme }}">
                                            </a>
                                            <a role="button" class="accept-access-request" data-student="{{ notification.student_id }}" data-specialist="{{ notification.to_specialist_id }}">
                                                <img class="img-fluid ml-4" src="{{ 'assets/img/svg/dashboard/accept.svg'|theme }}">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        {% for notification in user.profile.transfer_requests %}
                            <tr>
                                <!-- Transfer type row -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center pt-2">
                                            <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/transfer-recived.svg'|theme }}">
                                            <p class="p-0 m-0 font-weight-light display-4 ml-2" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ 'page.specialist.dashboard.notifications.table.row.transfer_request'|_ }}</p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Specialist name row -->
                                <td>
                                    <div class="pl-2 py-3 d-flex align-items-center">
                                        <div>
                                            <img width="40" height="40" class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                        </div>
                                        <div class="d-flex flex-column ml-2">
                                            <p class="p-0 m-0 display-4 font-weight-light" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.toSpecialist.full_name }}</p>
                                            <h6 class="p-0 m-0 font-weight-normal text-gray">{{ 'page.specialist.dashboard.notifications.table.row.specialist'|_ }}</h6>
                                        </div>
                                    </div>
                                </td>

                                <!-- Student name row -->
                                <td>
                                    <div class="pl-2 py-3 d-flex align-items-center">
                                        <div>
                                            <img width="40" height="40" class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                                        </div>
                                        <div class="d-flex flex-column ml-2">
                                            <p class="p-0 m-0 display-4 font-weight-light" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.student.full_name }}</p>
                                            <h6 class="p-0 m-0 font-weight-normal text-gray">{{ notification.student.birthdate|date("d-m-Y") }}</h6>
                                        </div>
                                    </div>
                                </td>

                                <!-- Received date row -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center pt-2">
                                            <p class="p-0 m-0 font-weight-light display-4" style="letter-spacing: 0.2px; line-height:20px; color:#252733;">{{ notification.created_at|date("d-m-Y") }}</p>
                                        </div>
                                    </div>
                                </td>

                                <!-- Actions column -->
                                <td>
                                    <div class="pl-2 py-3">
                                        <div class="d-flex align-items-center">
                                            <a role="button" class="decline-transfer-request" data-student="{{ notification.student_id }}" data-specialist="{{ notification.to_specialist_id }}">
                                                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/delete.svg'|theme }}">
                                            </a>
                                            <a role="button" class="accept-transfer-request" data-student="{{ notification.student_id }}" data-specialist="{{ notification.to_specialist_id }}">
                                                <img class="img-fluid ml-4" src="{{ 'assets/img/svg/dashboard/accept.svg'|theme }}">
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% put scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            /***********************************************
            *********** Notifications datatable ************
            ***********************************************/

            $('#notifications-datatable').DataTable({
                dom: '<"row"<"col-12"t>><"row bg-white p-3 rounded-bottom"<"col-6 d-flex align-items-center"l><"col-6 d-flex align-items-center justify-content-end"ip>>',
                lengthMenu: [
                    [5, 10, 25, 50, 100, -1],
                    [5, 10, 25, 50, 100]
                ],
                bSort: true,
                responsive: true,
                processing: true,
                pagingType: 'simple',
                language: {
                    "info": "_PAGE_ - _PAGE_ of _PAGES_",
                    'zeroRecords': "{{'general.datatable.zeroRecords'|_}}",
                    'emptyPanes': "{{'general.datatable.emptyPanes'|_}}",
                    'emptyTable': "{{'general.datatable.emptyTable'|_}}",
                    'search': '',
                    'lengthMenu': "{{'general.datatable.lengthMenu'|_}}: _MENU_",
                    'paginate': {
                        'first': '«',
                        'previous': '‹',
                        'next': '›',
                        'last': '»',
                    },
                    'aria': {
                        'paginate': {
                            'first': "{{'general.datatable.first'|_}}",
                            'previous': "{{'general.datatable.previous'|_}}",
                            'next': "{{'general.datatable.next'|_}}",
                            'last': "{{'general.datatable.last'|_}}"
                        }
                    }
                }
            });

            /** Function that sends the accept access request to the backend. */
            $('.accept-access-request').on('click', function() {
                var $student = $('.accept-access-request').data('student');
                var $specialist = $('.accept-access-request').data('specialist');

                /** Send an accept student access request. */
                $.request(
                    'onAcceptStudentAccessRequest', {
                        data: {
                            student: $student,
                            specialist: $specialist,
                        }
                    }
                );
            });

            /** Function that sends the decline access request to the backend. */
            $('.decline-access-request').on('click', function() {
                var $student = $('.decline-access-request').data('student');
                var $specialist = $('.decline-access-request').data('specialist');

                /** Send an decline student access request. */
                $.request(
                    'onDeclineStudentAccessRequest', {
                        data: {
                            student: $student,
                            specialist: $specialist,
                        }
                    }
                );
            });

            /** Function that sends the accept transfer request to the backend. */
            $('.accept-transfer-request').on('click', function() {
                var $student = $('.accept-transfer-request').data('student');
                var $specialist = $('.accept-transfer-request').data('specialist');

                /** Send an accept student transfer request. */
                $.request(
                    'onAcceptStudentTransferRequest', {
                        data: {
                            student: $student,
                            specialist: $specialist,
                        }
                    }
                );
            });

            /** Function that sends the decline transfer request to the backend. */
            $('.decline-transfer-request').on('click', function() {
                var $student = $('.decline-transfer-request').data('student');
                var $specialist = $('.decline-transfer-request').data('specialist');

                /** Send an decline student transfer request. */
                $.request(
                    'onDeclineStudentTransferRequest', {
                        data: {
                            student: $student,
                            specialist: $specialist,
                        }
                    }
                );
            });
        });
    </script>
{% endput %}
