
/***********************************************
**** Media queries for .container class ********
*************** from Bootstrap  ****************
***********************************************/

@media (min-width: 2560px) {
    .container{
        max-width: 2200px;
    }
}

@media (max-width: 1920px) {
    .container{
        max-width: 1500px;
    }
}

@media (max-width: 1680px) {
    .container{
        max-width: 1400px;
    }
}

@media (max-width: 1600px) {
    .container{
        max-width: 1300px;
    }
}

@media (max-width: 1500px) {
    .container{
        max-width: 1200px;
    }
}

@media (max-width: 1360px) {
    .container{
        max-width: 1100px;
    }
}
