/***********************************************
*************** Login page bg ******************
***********************************************/

.login-bg {
    position: relative;
    background: url("../../../img/svg/login-bg.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 80px);
}

@media (max-width: 1000px) {
    section.login-bg > .container {
        width: 80%;
    }
}
