description = "Partial that displayes the footer columns"

[viewBag]
==
<section class="w-100 bg-secondary2 pt-3 py-5">
    <div class="container pt-3">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex flex-column">
                    <a class="text-white mb-3" href="{{ 'termeni-si-conditii'|staticPage }}" style="line-height: 25px;">{{'footer.columns.link_1'|_}}</a>
                    <a class="text-white mb-3" href="{{ 'politica-de-confidentialitate'|staticPage }}" style="line-height: 25px;">{{'footer.columns.link_2'|_}}</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="d-flex flex-column align-items-lg-center">
                    <div>
                        <div class="mb-3">
                            <a class="text-white" href="{{ 'intrebari-si-raspunsuri'|staticPage }}" style="line-height: 25px;">{{'footer.columns.link_3'|_}}</a>
                        </div>
                        <div class="mb-3">
                            <a class="text-white" href="{{ 'authentification/register-form'|page }}" style="line-height: 25px;">{{'footer.columns.link_4'|_}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="d-flex flex-column align-items-lg-center">
                    <div>
                        <div class="mb-3">
                            <a class="text-white" href="{{ 'landing-pages/about-project'|page }}" style="line-height: 25px;">{{'footer.columns.link_5'|_}}</a>
                        </div>
                        <div class="mb-3">
                            <a class="text-white" href="{{ 'landing-pages/esense-home'|page }}#contact" style="line-height: 25px;">{{'footer.columns.link_6'|_}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-2">
                <div class="d-flex flex-column align-items-lg-end">
                    <div>
                        <div class="mb-3">
                            <a class="text-white" target="_blank" href="https://www.fundatiaorange.ro/" style="line-height: 25px;">{{'footer.columns.link_7'|_}}</a>
                        </div>
                        <div class="mb-3">
                            <a class="text-white" target="_blank" href="https://code4.ro/ro/" style="line-height: 25px;">{{'footer.columns.link_8'|_}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-lg-5 mt-lg-5">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="d-flex align-items-center">
                    <span class="text-white mt-3" style="line-height: 25px;">{{'footer.columns.proiect.implemented.text'|_}}</span>
                    <div>
                        <img class="img-fluid ml-md-2" src="{{ 'assets/img/svg/esense-footer-columns-logo.svg'|theme }}">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="d-flex align-items-baseline">
                    <span class="text-white" style="line-height: 25px;">{{'footer.columns.proiect.financed.text'|_}}</span>
                    <div class="d-flex align-items-baseline">
                        <span class="font-weight-bolder ml-2 mr-1" style="color: #fff; font-size: 20px;">{{'homePage.despre.proiect.orange.text'|_}}</span>
                        <img class="img-fluid" src="{{ 'assets/img/svg/orange-logo.svg'|theme }}">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-lg-end">
                <div class="d-flex align-items-center mt-lg-n3">
                    <span class="text-white pb-1" style="line-height: 25px;">{{'footer.columns.proiect.developed.text'|_}}</span>
                    <div class="mt-lg-n4">
                        <img class="img-fluid" src="{{ 'assets/img/svg/footer-columns-code-for-romania-logo.svg'|theme }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>