description = "Header"

[viewBag]

[fontAwesomeCssLink]
==
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Links for favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/img/favicon/apple-icon-57x57.png'|theme }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/img/favicon/apple-icon-60x60.png'|theme }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/img/favicon/apple-icon-72x72.png'|theme }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/img/favicon/apple-icon-76x76.png'|theme }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/img/favicon/apple-icon-114x114.png'|theme }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/img/favicon/apple-icon-120x120.png'|theme }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/img/favicon/apple-icon-144x144.png'|theme }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/img/favicon/apple-icon-152x152.png'|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-icon-180x180.png'|theme }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ 'assets/img/favicon/android-icon-192x192.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ 'assets/img/favicon/favicon-96x96.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/img/favicon/manifest.json'|theme }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ 'assets/img/favicon/ms-icon-144x144.png'|theme }}">
    <meta name="theme-color" content="#ffffff">

    <title>{{ this.page.title }}</title>

    {% component 'fontAwesomeCssLink' %}

    <link href="{{ [
        '/node_modules/bootstrap/dist/css/bootstrap.min.css',
        '/node_modules/owl.carousel/dist/assets/owl.carousel.min.css',
        '/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css',
        '/node_modules/bootstrap-select/dist/css/bootstrap-select.min.css',
        'assets/scss/app.scss',
    ]|theme }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% styles %}

    {% placeholder head_scripts %}

    <script src="{{ [
        '/node_modules/jquery/dist/jquery.min.js',
        '/node_modules/popper.js/dist/umd/popper.min.js',
        '/node_modules/bootstrap/dist/js/bootstrap.min.js',
        '/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js',
        '/node_modules/bootstrap/dist/js/bootstrap.min.js.map',
        '/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js.map',
        '/node_modules/bootstrap-select/dist/js/bootstrap-select.min.js',
    ]|theme }}"></script>

    {% scripts %}
</head>
