description = "Recuperare parolă email - [layout]"

[staticPage]
useContent = 0
default = 0

[session]
security = "all"
allowedUserGroups[] = "registered"
allowedUserGroups[] = "guest"

[passwordReset]
resetPage = "resetare-parola"
==

<!-- Recover password by email Form design variables -->
{variable name="recoverPasswordTitle" label="Titlu formular de recuperare parolă" tab="Recuperare parolă" type="text"}{/variable}
{variable name="recoverPasswordSubtitle" label="Descriere modalitate de recuperare parolă" tab="Recuperare parolă" type="text"}{/variable}
{variable name="recoverPasswordEmailPlaceholder" label="Descriere cîmp e-mail" tab="Recuperare parolă" type="text"}{/variable}
{variable name="recoverPasswordSubmit" label="Buton de recuperare parolă" tab="Recuperare parolă" type="text"}{/variable}
{variable name="recoverPasswordLoginLink" label="Text pentru adresa către autentificare în cont" tab="Recuperare parolă" type="text"}{/variable}


<html lang="en">

    {% partial 'head' %}

    <link href="{{ [
        'assets/scss/esense/landing-page/landing-page.scss',
    ]|theme }}" rel="stylesheet">

    {% partial 'web-app/general/google-analytics' %}

    <body>

        {% flash %}
            <p
                data-control="flash-message"
                class="flash-message fade {{ type }}"
                data-interval="5">
                {{ message }}
            </p>
        {% endflash %}

        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex align-items-center justify-content-center" style="height: 80px;">
                            <a href="/">
                                <img class="img-fluid" src="{{ 'assets/img/svg/logo.svg'|theme }}" alt="Logo site e-Sense">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="login-bg d-flex align-items-center justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 offset-lg-4 bg-light pb-5 my-md-5 my-lg-0 rounded shadow">
                        <p class="pt-5 text-center font-weight-bold">{{ recoverPasswordTitle }}</p>
                        <p class="pb-3 small text-gray-light text-center">{{ recoverPasswordSubtitle }}</p>

                        <!-- Password recover form-->
                        <form method="POST" data-request="onPasswordRecover">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <div class="input-group mb-3 px-lg-3">
                                        <div class="input-group-prepend">
                                    <span class="input-group-text bg-white border-light" id="email-addon">
                                        <img class="img-fluid" src="{{ 'assets/img/svg/form-email-icon.svg'|theme }}" alt="Emblemă plic pentru email">
                                    </span>
                                        </div>

                                        <!-- Email input -->
                                        <input type="email" name="email" class="form-control border-left-0 border-light pl-0" placeholder="{{ recoverPasswordEmailPlaceholder }}" aria-label="email" aria-describedby="email-addon">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <!-- Submit button -->
                                    <div class="d-flex justify-content-center mb-1">
                                        <button role="button" type="submit" class="btn btn-sm btn-primary px-5 text-white">{{ recoverPasswordSubmit }}</button>
                                    </div>
                                    <div class="d-flex justify-content-center mt-2">
                                        <a class="text-dark display-4" href="{{ 'login' | staticPage }}">{{ recoverPasswordLoginLink }}</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </section>

        {% partial 'footer-scripts' %}

    </body>

</html>
