.datepicker{
    width: 280px !important;
    min-height: 300px;
    padding: 10px;
    border: 0 !important;
}

.table-condensed {
    width: 100% !important;
    background-color: #fff !important;
    box-shadow: 0px 4px 6px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.datepicker-days tr th {
    padding: 10px 0 !important;
}

.datepicker-days tr th.prev,
.datepicker-days tr th.next {
    color: #fab954 !important;
}
.datepicker-days .datepicker-switch {
    font-size: 18px !important;
    color: #2e294e !important;
    font-weight: 600 !important;
}

.datepicker-days th.dow {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #ADB5BD !important;
}

.datepicker-days tr td {
    padding: 10px 0 !important;
    font-size: 12.5px !important;
}

.table-condensed tfoot tr th {
    font-size: 14px !important;
    color: #fab954 !important;
}