/***********************************************
************* Input placeholder ****************
***********************************************/

::placeholder {
    font-size: 14px;
    color: #ADB5BD !important;
    line-height: 21px;
}

.form-styles {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 500;
    line-height: 23px;
}