/***********************************************
**************** Hero section ******************
***********************************************/

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero-background {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.depre-proiect {
    position: relative;
    background: url("../img/svg/small-top-svg.svg");
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    min-height: 20vh;
    margin-top: 0;
    z-index: -1;
}
.login-bg {
    position: relative;
    background: url("../img/svg/login-bg.svg");
    background-repeat: no-repeat;
    background-position:center center;
    width: 100%;
    min-height: 100vh;
}

/** Info section background */
.info {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.info-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.info-section img {
    width: 100%;
}

/** Parteners */
.partener-1,
.partener-2,
.partener-3,
.partener-4 {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 280px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partener-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/svg/partener-1.svg");
}

.partener-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/svg/partener-2.svg");
}

.partener-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/svg/partener-3.svg");
}

.partener-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/svg/partener-4.svg");
}

.form-container {
    position: relative;
    transform: translate(0, -40%);
}

::placeholder {
    font-size: 14px;
    color: #ADB5BD !important;
}

// rotate svg arrow-down in how it works acordeon
.rotate-up {
    transform: rotate(180deg);
}

.rotate-down {
    transform: rotate(0deg);
}

.dropdown-toggle:hover,
.dropdown-toggle:focus,
.dropdown-toggle:active {
    background: #fff !important;
}

.filter-option-inner-inner{
    font-size: 16px;
    color: #684d4d;
}

.dropdown-menu li .active {
    background:#fab954;
}

.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
    background:#fab954;
    color: #fff;
}

.dropdown-menu li a {
    font-size: 16px;
    color: #838383;
    padding: 10px;
}