/***********************************************
**************** Ocookie *****************
***********************************************/

.cookie_container {
    font-size: 1em !important;
    font-family: "SansSerif", sans-serif;
}

.cookie_container_right {
    flex-direction: row-reverse;
}

