/***********************************************
**************** Hero section ******************
***********************************************/

.hero {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.hero-background {
    position: absolute;
    height: 90%;
    top: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 991px) {
    .hero {
        background: #0e4870;
    }
}

/***********************************************
*************** Info section ****************
***********************************************/

/** Background. */
.info {
    position: relative;
    background: url("../../../img/svg/landing-page-info-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

/** Parteneri. */
.partener-1,
.partener-2,
.partener-3,
.partener-4 {
    position: relative;
    min-height: 280px;
    background-position: center;
}

.partener-1 {
    background: url("../../../img/svg/timisoara.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.partener-2 {
    background: url("../../../img/svg/iasi.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.partener-3 {
    background: url("../../../img/svg/oradea.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.partener-4 {
    background: url("../../../img/svg/code4ro.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/***********************************************
*************** Form section *******************
***********************************************/

.form-container {
    position: relative;
}

.form-bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: radial-gradient(100% 284.32% at 100% 0%, #0E4870 0%, #498AB8 100%);;
    z-index: -1;
}
.form-bg-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: #363636;
    z-index: -1;
}
