.owl-stage {
    padding-left: 0 !important
}

.exercises-owl-carousel .owl-prev,
.exercises-owl-carousel .owl-next {
    position: absolute;
    background: none;
    border: none;
    z-index: 100;
    top: 40%;
    transform: translate(0, -50%);
}

.exercises-owl-carousel .owl-prev {
    left: 0;
    background-color: transparent !important;
    border: none !important;
    font-size: 35px !important;
}

.exercises-owl-carousel .owl-next {
    right: 0;
    background-color: transparent !important;
    border: none !important;
    font-size: 35px !important;
}