<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion border-right" id="accordionSidebar" style="background: #F8F6F4;">
	<!-- Sidebar - Brand -->
	<a class="d-flex align-items-center justify-content-center" href="/">
		<img class="img-fluid pb-5 pt-3 px-2" src="{{ 'assets/img/svg/logo.svg'|theme }}">
	</a>
	<!-- Nav Item - Tables -->
	<li class="nav-item active mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/grid.svg'|theme }}">
			<span class="text-dashboard-dark">Panou de administrare</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/zap.svg'|theme }}">
			<span class="text-dashboard-dark">Exercitii si jocuri</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/users.svg'|theme }}">
			<span class="text-dashboard-dark">Elevi mei</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/sliders.svg'|theme }}">
			<span class="text-dashboard-dark">Scoala</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/alert-circle.svg'|theme }}">
			<span class="text-dashboard-dark">Informatii utile</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mt-5 mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/settings.svg'|theme }}">
			<span class="text-dashboard-dark">Setari</span>
		</a>
	</li>
	<!-- Nav Item - Tables -->
	<li class="nav-item mb-2">
		<div class="vertical-border"></div>
		<a class="nav-link" href="tables.html">
			<img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/exit.svg'|theme }}">
			<span class="text-dashboard-dark">Iesi din cont</span>
		</a>
	</li>
	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline mt-5">
		<button class="rounded-circle border-0 bg-secondary text-white" id="sidebarToggle"></button>
	</div>

</ul>
