<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion border-right min-vh-100" id="accordionSidebar" style="background: #F8F6F4;">
    <!-- Sidebar - Brand -->
    <a class="d-flex align-items-center justify-content-center" href="/">
        <img class="img-fluid pb-5 pt-3 px-2" src="{{ 'assets/img/svg/logo.svg'|theme }}">
    </a>

    <!--
    ***********************************************
    ************** Teacher nav links **************
    ***********************************************
    -->

    {% if 'specialist' == user.type or 'parent' == user.type %}

        <!-- Panou de administrare -->
        <li class="nav-item mb-2 {% if this.page.url == "/specialist/dashboard" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'specialist/dashboard'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/grid.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_1"|_}}</span>
            </a>
        </li>

        <!-- Exercitii si jocuri -->
        <li class="nav-item mb-2 {% if this.page.url == "/specialist/exercises/:category?" or this.page.url == "specialist/exercise/:slug" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'specialist/exercises'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/zap.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_2"|_}}</span>
            </a>
        </li>

        <!-- Elevi mei -->
    {% if 'parent' == user.type %}

    <li class="nav-item mb-2 {% if (this.page.url == "/specialist/students") or (this.page.url == "/specialist/student/:studentId") or (this.page.url == '/specialist/student-transfer') or (this.page.url == '/specialist/student-add') or (this.page.url == '/specialist/student-edit/:studentId')  or (this.page.url == '/lesson/:lessonId') or (this.page.url == 'school/lesson/:lessonId') %} active {% endif %}">
    <div class="vertical-border"></div>
    <a class="nav-link" href="{{ 'specialist/students'|page }}">
        <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/users.svg'|theme }}">
        <span class="text-primary-dark">Copii mei</span>
    </a>
    </li>
    {%else%}
    <li class="nav-item mb-2 {% if (this.page.url == "/specialist/students") or (this.page.url == "/specialist/student/:studentId") or (this.page.url == '/specialist/student-transfer') or (this.page.url == '/specialist/student-add') or (this.page.url == '/specialist/student-edit/:studentId')  or (this.page.url == '/lesson/:lessonId') or (this.page.url == 'school/lesson/:lessonId') %} active {% endif %}">
    <div class="vertical-border"></div>
    <a class="nav-link" href="{{ 'specialist/students'|page }}">
        <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/users.svg'|theme }}">
        <span class="text-primary-dark">{{"partial.navs.side.nav.link_3"|_}}</span>
    </a>
    </li>
    {%endif%}

        {% if user and 'specialist' == user.type and user.profile.affiliated %}
            <!-- School -->
            <li class="nav-item mb-2 {% if this.page.url == "/specialist/school"%} active {% endif %}">
                <div class="vertical-border"></div>
                <a class="nav-link" href="{{ 'specialist/school'|page }}">
                    <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/sliders.svg'|theme }}">
                    <span class="text-primary-dark">{{"partial.navs.side.nav.link_4"|_}}</span>
                </a>
            </li>
        {% endif %}

        <!-- Informatii utile -->
        <li class="nav-item mb-2 {% if this.page.url == "/specialist/information/:slug?"%} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'specialist/information'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/alert-circle.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_5"|_}}</span>
            </a>
        </li>

        {% if user and 'specialist' == user.type and not user.profile.affiliated %}
            <!-- Arhiva -->
            <li class="nav-item mb-2 {% if this.page.url == "/specialist/archive" %} active {% endif %}">
                <div class="vertical-border"></div>
                <a class="nav-link" href="{{ 'specialist/archive'|page }}">
                    <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/archive.svg'|theme }}">
                    <span class="text-primary-dark">{{"partial.navs.side.nav.link_10"|_}}</span>
                </a>
            </li>
        {% endif %}

        <!-- Setari -->
        <li class="nav-item mt-5 mb-2 {% if this.page.url == "/specialist/profile-edit" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{'specialist/profile-edit'|page}}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/settings.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_6"|_}}</span>
            </a>
        </li>

    {% endif %}


    <!--
    ***********************************************
    ************** School nav links **************
    ***********************************************
    -->

    {% if 'school' == user.type %}

        <!-- Panou de administrare -->
        <li class="nav-item mb-2 {% if this.page.url == "/school/dashboard" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'school/dashboard'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/grid.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_1"|_}}</span>
            </a>
        </li>

        <!-- Profesori -->
        <li class="nav-item mb-2 {% if this.page.url == "/school/specialists" or this.page.url == "/school/specialist/:specialistId" or this.page.url == "/school/specialist-edit/:specialistId" or this.page.url == "/school/specialist-add" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'school/specialists'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/building.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_8"|_}}</span>
            </a>
        </li>

        <!-- Elevi -->
        <li class="nav-item mb-2 {% if this.page.url == "/school/students" or this.page.url == '/school/student/:studentId' or this.page.url == "/school/student-add" or this.page.url == '/school/student-edit/:studentId' %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'school/students'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/user.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_9"|_}}</span>
            </a>
        </li>

        <!-- Arhiva -->
        <li class="nav-item mb-2 {% if this.page.url == "/school/archive" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{ 'school/archive'|page }}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/archive.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_10"|_}}</span>
            </a>
        </li>

        <!-- Setari -->
        <li class="nav-item mt-5 mb-2 {% if this.page.url == "/school/profile-edit" %} active {% endif %}">
            <div class="vertical-border"></div>
            <a class="nav-link" href="{{'school/profile-edit'|page}}">
                <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/settings.svg'|theme }}">
                <span class="text-primary-dark">{{"partial.navs.side.nav.link_6"|_}}</span>
            </a>
        </li>

    {% endif %}

    <!-- Iesi din cont -->
    <li class="nav-item mb-2">
        <div class="vertical-border"></div>
        <a class="nav-link" data-request="onLogout" data-request-data="redirect: '{{ 'acasa-esense' | staticPage }}'" href="">
            <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/side-nav/exit.svg'|theme }}">
            <span class="text-primary-dark">{{"partial.navs.side.nav.link_7"|_}}</span>
        </a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline mt-5">
        <button class="rounded-circle border-0 bg-secondary text-white" id="sidebarToggle"></button>
    </div>

</ul>
