/***********************************************
***************** Side navbar ******************
***********************************************/

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 999;
}

.sidebar .nav-item {
    position: relative;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.65rem 1rem;
    width: 6.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar .nav-item .nav-link span {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'TitilliumWeb-Regular', sans-serif;
}

.sidebar .nav-item.active .nav-link {
    background-color: #fab954;
}

.sidebar .nav-item.active .vertical-border {
    display: block;
}

.sidebar .nav-item:hover .nav-link {
    background-color: #fab954;
}

.sidebar .nav-item:hover .vertical-border {
    display: block;
}

/***********************************************
************* Side navbar toggle ***************
***********************************************/

.sidebar #sidebarToggle {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar #sidebarToggle::after {
    font-weight: 900;
    content: '\f104';
    font-family: 'Font Awesome 5 Free';
    margin-right: 0.1rem;
}

.sidebar #sidebarToggle:hover {
    text-decoration: none;
}

.sidebar #sidebarToggle:focus {
    outline: none;
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}

.sidebar.toggled #sidebarToggle::after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    margin-left: 0.25rem;
}

@media (min-width: 768px) {

    .sidebar {
        width: 20rem !important;
    }

    .sidebar .nav-item {
        right: 0;
        display: flex;
        justify-content: flex-end;
    }

    .sidebar .nav-item .vertical-border {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: #fab954;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right: 0px;
        display: none;
    }

    .sidebar .nav-item .nav-link {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        text-align: left;
        padding: 0.5rem 1rem;
        width: 15rem;
        border-radius: 5px;
        line-height: 24px;
    }

    .sidebar .nav-item .nav-link span {
        padding-left: 15px;
        font-weight: 700;
        line-height: 25px;
        font-size: 16px;
        font-family: 'TitilliumWeb-Regular', sans-serif;
    }

    .sidebar.toggled {
        overflow: visible;
        width: 10rem !important;
    }

    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        width: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: 14px;
        width: 8rem;
        padding-left: 0px;
        font-weight: 700;
        font-family: 'TitilliumWeb-Regular', sans-serif;
    }
}