description = "Partial for add teacher form"

[viewBag]
==

<div class="col-12 col-md-6 mb-3">
    <div class="form-group d-flex">
        <input type="text" class="form-control" id="last-name" placeholder="{{'teacher.dashboard.student.add.profile.contact.person.last.name'|_}}">
    </div>
</div>

<div class="col-12 col-md-6 mb-3">
    <div class="form-group d-flex">
        <input type="text" class="form-control" id="first-name" placeholder="{{'teacher.dashboard.student.add.profile.contact.person.first.name'|_}}">
    </div>
</div>

<div class="col-12 col-md-6 mb-3">
    <div class="form-group">
        <input type="email" class="form-control" id="last-name" placeholder="{{'teacher.dashboard.student.add.profile.contact.person.email'|_}}">
    </div>
</div>

<div class="col-12 col-md-6 mb-3">
    <div class="form-group d-flex">
        <input type="text" class="form-control" id="first-name" placeholder="{{'teacher.dashboard.student.add.profile.contact.person.phone'|_}}">
    </div>
</div>