description = "Partial for add specialist form"

[viewBag]
==
<div class="row" id="{{specialistFormId}}">

    <div class="col-12">
        <p class="text-muted mt-3 mb-3">{{'partial.school.add.specialist.title'|_}}</p>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="form-group d-flex">
            <input name="{{lastName}}" type="text" class="form-control onChangeValue" id="{{lastNameId}}" placeholder="{{'partial.school.add.specialist.last.name'|_}}">
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="form-group d-flex">
            <input name="{{firstName}}" type="text" class="form-control onChangeValue" id="{{firstNameId}}" placeholder="{{'partial.school.add.specialist.first.name'|_}}">
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="form-group d-flex">
            <input name="{{phone}}" type="number" class="form-control onChangeValue" id="{{phoneId}}" placeholder="{{'partial.school.add.specialist.phone'|_}}">
        </div>
    </div>

    <div class="col-12 col-md-6 mb-3">
        <div class="form-group">
            <input name="{{email}}" type="email" class="form-control onChangeValue" id="{{emailId}}" placeholder="{{'partial.school.add.specialist.email'|_}}">
        </div>
    </div>

    <input name="{{type}}" type="text" class="d-none" id="{{typeId}}" value="specialist">

    <div class="col-12 my-4 {{hideClass}}" id="{{hideId}}">
        <div class="d-flex align-items-center justify-content-center">
            <img class="img-fluid" src="{{ 'assets/img/svg/dashboard/add-gray.svg'|theme }}">
            <span class="ml-2 display-4 text-secondary2">{{'partial.school.add.specialist.link'|_}}</span>
        </div>
    </div>
</div>
