description = "Partial for school lessons with a student"

[viewBag]
==

<div class="row">
    <div class="col-12 col-md-12 col-lg-3 offset-lg-3">
        <div class="form-group register-select">
            <select id="lessons-year" class="form-control selectpicker border outline-none" data-style="btn-white">
                {% for item in years %}
                <option value="{{ item }}" {% if item == year %} selected {% endif %}>{{ item }}</option>
                {% endfor %}
            </select>

        </div>
    </div>

    <div class="col-12 col-md-12 col-lg-3 offset-lg-3">
        <div class="form-group register-select">
            <select id="lessons-month" class="form-control selectpicker border outline-none" data-style="btn-white">
                <option value="1">{{'general.date_january'|_}}</option>
                <option value="2">{{'general.date_february'|_}}</option>
                <option value="3">{{'general.date_march'|_}}</option>
                <option value="4">{{'general.date_april'|_}}</option>
                <option value="5">{{'general.date_may'|_}}</option>
                <option value="6">{{'general.date_june'|_}}</option>
                <option value="7">{{'general.date_july'|_}}</option>
                <option value="8">{{'general.date_august'|_}}</option>
                <option value="9">{{'general.date_september'|_}}</option>
                <option value="10">{{'general.date_octomber'|_}}</option>
                <option value="11">{{'general.date_november'|_}}</option>
                <option value="12">{{'general.date_december'|_}}</option>
            </select>

        </div>
    </div>
</div>

<div class="table-responsive px-3" style="overflow-x: hidden;">
    <table id="students-datatable" class="table table-striped table-sm px-3 m-0" cellspacing="0" style="background: linear-gradient(0deg, #FFFFFF, #FFFFFF);">
        <thead>
        <tr>
            <th><p class="p-0 m-0 py-2 pl-2 display-4 text-black font-weight-light" style="line-height: 18px;">{{ 'page.school.dashboard.student.lesson'|_ }}</p></th>
            <th><p class="p-0 m-0 py-2 pl-2 display-4 text-black font-weight-light" style="line-height: 18px;">{{ 'page.school.dashboard.student.category'|_ }}</p></th>
            <th><p class="p-0 m-0 py-2 pl-2 display-4 text-black font-weight-light" style="line-height: 18px;">{{ 'page.school.dashboard.student.date'|_ }}</p></th>
            <th><p class="p-0 m-0 py-2 pl-2 display-4 text-black font-weight-light" style="line-height: 18px;">{{ 'page.school.dashboard.student.length'|_ }}</p></th>
            <th><p class="p-0 m-0 py-2 pl-2 display-4 text-black font-weight-light" style="line-height: 18px;">{{ 'page.school.dashboard.student.specialist'|_ }}</p></th>
            <th class="no-sort"></th>
        </tr>
        </thead>

        <tbody>

{% for lesson in lessons %}
        <tr>
            <td>
                <div class="pl-2 py-lg-4 d-flex align-items-center">
                    <span class="display-4 text-blue">{{ lesson.title }}</span>
                </div>
            </td>
            <td>
                <div class="pl-2 py-lg-4 d-flex align-items-center">
                    <span class="display-4 text-black">{{ lesson.category }}</span>
                </div>
            </td>
            <td>
                <div class="pl-2 py-lg-4 d-flex align-items-center">
                    <span class="display-4 text-black">{{ lesson.day|date("d/m/Y") }}</span>
                </div>
            </td>
            <td>
                <div class="pl-2 py-lg-4 d-flex align-items-center">
                    <span class="display-4 text-black">{{ lesson.lesson_duration }}</span>
                </div>
            </td>
            <td>
                <div class="pl-2 py-lg-3 d-flex align-items-center">
                    <div>
                        {% if lesson.connection.specialist.user.avatar %}
                        <img class="img-fluid img-avatar rounded-circle add-custom-avatar" src="{{ lesson.connection.specialist.user.avatar.getThumb(30, 30, { mode : 'crop' }) }}" alt="specialist-avatar">
                        {% else %}
                        <img class="img-fluid add-custom-avatar" width="30px" height="30px" src="{{ 'assets/img/svg/dashboard/user-bordered.svg'|theme }}">
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column ml-2">
                        <span class="display-4" style="color:#1a1a1a;">{{ lesson.connection.specialist.full_name }}</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="pl-2 py-lg-4">
                    <a role="button" href="{{ 'school/lesson'|page({id: lesson.id }) }}">
                        <img class="img-fluid pt-2 ml-4" src="{{ 'assets/img/svg/dashboard/eye.svg'|theme }}">
                    </a>
                </div>
            </td>
        </tr>

{% endfor %}

        </tbody>
    </table>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        /***********************************************
         **************** Selectpicker *****************
         ***********************************************/
        $("#lessons-year").selectpicker("refresh");
        $("#lessons-month").selectpicker("refresh");

         /***********************************************************
         *********************** Year selector **********************
         ************************************************************/
        $('#lessons-year').on('change', function() {
            $.request(
                'onSchoolLessonsTableYearUpdate',
                {
                    update: {
                        'web-app/general/school-student-lessons': '#students-datatable'
                    },
                    data: {
                        year: this.value
                    }
                }
            );
        });

        /************************************************
         ****************** Month selector **************
         ***********************************************/


        $('#lessons-month').on('change', function() {
            var year = $('#lessons-year').val();
            $.request(
                'onSchoolLessonsTableMonthUpdate',
                {
                    update: {
                        'web-app/general/school-student-lessons': '#students-datatable'
                    },
                    data: {
                        month: this.value,
                        year: year,
                    }
                }
            );
        });

    });

</script>
