description = "Transfer student form"

[viewBag]
==
<form method="POST" data-request="">
    <div class="row mt-5">

        <div class="col-12 col-md-6">
            <div class="form-group register-select">
                <select id="teacher" class="form-control selectpicker border outline-none onChangeValue" data-style="btn-white">
                <option value="-1">{{'teacher.dashboard.transfer.student.teacher.option'|_}}</option>
                <option value="">3</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group register-select">
                <select id="student" class="form-control selectpicker border outline-none onChangeValue" data-style="btn-white">
                <option value="-1">{{'teacher.dashboard.transfer.student.student.option'|_}}</option>
                <option value="">1</option>
                </select>
            </div>
        </div>

        <div class="col-12 my-3">
            <div class="custom-control form-control-lg custom-checkbox">
                <input type="checkbox" class="custom-control-input onChangeValue" id="teacher-check">
                <label class="custom-control-label display-4 text-gray-medium p-0 m-0" for="teacher-check" style="line-height: 30px;">{{'teacher.dashboard.transfer.student.checkbox.label'|_}}</label>
            </div>
        </div>

         <!-- Submit button -->
        <div class="col-12 mb-5">
            <div class="d-flex justify-content-end">
                <button  type="submit" class="transfer-student btn btn-sm text-white btn-gray-light px-5" disabled>{{'teacher.dashboard.transfer.student.btn.text'|_}}</button>
            </div>
        </div>

    </div>
</form>