/** Put navigation arrow on owl-item sides. */
.owl-stage{
    position: relative;
}

.custom-nav {
    position: absolute;
    top: 0;
    left: 0;
}

.owl-prev, .owl-next {
    position: absolute;
    background: none;
    border: none;
    z-index: 100;
}

.owl-prev {
    top: 50%;
    left: 0;
    background-color: transparent !important;
    border: none !important;
    transform: translate(-50%,-50%);
    font-size: 35px !important;
    color: #fff !important;
}

.owl-next {
    top: 50%;
    right: 0;
    background-color: transparent !important;
    border: none !important;
    transform: translate(-50%,-50%);
    font-size: 35px !important;
    color: #fff !important;
}

.owl-next:hover
.owl-prev:hover {
    background: transparent !important;
    border: none !important;
}

/** Change the color of dots in owl-carousel. */
.owl-dots{
    position: absolute;
    bottom: -10%;
    left: 25%;
    right: 25%;
}

.owl-dot.active span {
    background: #fab954 !important;
}

.owl-dot span {
    background:rgba(250, 185, 84, 0.8) !important;
}